EXPO_PUBLIC_API_URL=http://localhost:3000/v1
EXPO_PUBLIC_SOCKET_URL=wss://api.example.com
EXPO_PUBLIC_USE_MOCK_DATA=false
EXPO_PUBLIC_ENABLE_STREAMING_CHAT=false
EXPO_PUBLIC_USE_REAL_TRANSCRIPTION=false
EXPO_PUBLIC_USE_REAL_AI_CHAT=true
EXPO_PUBLIC_USE_REAL_DOCUMENT_ANALYSIS=true
EXPO_PUBLIC_USE_REAL_MARKETPLACE=true
EXPO_PUBLIC_AUTO_CONFIRM_CONSULTATION=true
